type hal_fingerprint_DN2103, domain;
hal_client_domain(hal_fingerprint_DN2103, hal_fingerprint)
hal_server_domain(hal_fingerprint_DN2103, hal_fingerprint)

type hal_fingerprint_DN2103_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_fingerprint_DN2103)
