import /system/etc/init/hw/init.oplus.rc

on init
    # Disable vendor overlay
    mount none /vendor/lost+found /vendor/overlay bind

service aee_aedv /system/bin/true
    oneshot
    disabled

service aee_aedv64 /system/bin/true
    oneshot
    disabled

on post-fs-data
    # MDP
    chmod 0644 /dev/mdp_sync
    chmod 0644 /dev/mtk_mdp

    # Video
    chmod 0666 /dev/video2
    chmod 0666 /dev/video3

on boot
    # Disable serial console
    stop console
